<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>CSS-свойства</title>
  <style>
    {% include '../build/style.css' %}
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.ico">
  <link rel="icon" href="favicons/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="favicons/apple.png">
  <link rel="manifest" href="./manifest.webmanifest">
  <meta name="keywords" content="css, properties, types, at-rules">
  <meta name="description" content="All css properties, rules, at-rules">
</head>
<body>
  <main class="main">
    <h1 class="title">Список всех CSS-свойств</h1>
    {% for key, properties in data|reverse %}
      <h2>Добавлено в {{ key }}</h2>
      <ul class="properties">
        {% for property in properties %}
          <li class="properties__item">
            <div class="properties__wrapper">
              <h3 class="properties__title">{{ property.name }}</h3>
              <time class="properties__date">{{ property.date|date("d.m.Y") }}</time>
            </div>
            <div class="properties__links">
              {% if property.specUrl %}<a class="properties__link properties__link--spec" href="{{ property.specUrl }}">Спецификация</a>{% endif %}
              {% if property.mdnUrl %}<a class="properties__link properties__link--mdn" href="{{ property.mdnUrl }}">MDN</a>{% endif %}
              <a class="properties__link properties__link--caniuse" href="https://caniuse.com/?search={{ property.name }}">caniuse</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </main>
</body>
</html>
