<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>CSS-свойства</title>
  <style>
    {% include '../build/style.css' %}
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.ico" sizes="any">
  <link rel="icon" href="favicons/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="favicons/apple.png">
  <link rel="manifest" href="./manifest.webmanifest">
  <meta name="keywords" content="css, properties, types, at-rules">
  <meta name="description" content="All css properties, rules, at-rules">
</head>
<body>
  <main class="main">
    <h1 class="title">Список всех CSS-свойств</h1>

    Выбери год:
    <ul class="select-year">
      {% for key, properties in data|reverse %}
        <li>
          <a href="#year-{{ key }}">{{ key }}</a>
        </li>
      {% endfor %}
    </ul>
    {% for key, properties in data|reverse %}
      <section class="properties-of-year" id="year-{{ key }}">
        <h2>Добавлено в {{ key }}</h2>
        <ul class="properties">
          {% for property in properties %}
            <li class="properties__item">
              <div class="properties__wrapper">
                {% if property.type == '@' %}
                  <h3 class="properties__title">{{ property.type }}{{ property.name }}</h3>
                {% else %}
                  <h3 class="properties__title">{{ property.type }}: {{ property.name }}</h3>
                {% endif %}
                <time class="properties__date">{{ property.date|date("d.m.Y") }}</time>
              </div>
              <div class="properties__links">
                {% if property.specUrl %}<a class="properties__link properties__link--spec" href="{{ property.specUrl }}">Спецификация</a>{% endif %}
                {% if property.mdnUrl %}<a class="properties__link properties__link--mdn" href="{{ property.mdnUrl }}">MDN</a>{% endif %}
                <a class="properties__link properties__link--caniuse" href="https://caniuse.com/?search={{ property.name }}">caniuse</a>
              </div>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  </main>
</body>
</html>
