---
const { name, date, mdnUrl, specUrl } = Astro.props;

const formatDate = (date) => {
  const [day, month, year] = date.split(".");
  return `${year}-${month}-${day}`;
};
---
<article class="property">
  <h3>{name}</h3>
  <time datetime={formatDate(date)}>{date}</time>
  <div>
    {specUrl && <a href={specUrl}>Спецификация</a>}
    {mdnUrl && <a href={mdnUrl}>MDN</a>}
    <a href="https://caniuse.com/?search={title}">caniuse</a>
  </div>
</article>

<style>
  .property {    
    --property-color: oklch(1 0 89.876 / 0.6);
    --property-color-button: linear-gradient(73.27deg, oklch(0.432 0.299 264.052) -25.49%, oklch(0.616 0.288 311.143) 97.39%);
    border-radius: 8px;
    padding: 16px;
    background-color: var(--property-color);
    display: grid;
    row-gap: 16px;
    grid-template-columns: [full-start] 1fr min-content [full-end];

    h3 {
      margin-block: unset;
    }

    div {
      grid-column: full;
      display: flex;
      flex-wrap: wrap;
      gap: 8px 16px;
    }

    a {
      background: var(--property-color-button);
      color: oklch(1 0 89.876);
      font-weight: 500;
      padding: 8px 16px;
      border-radius: 8px;
      text-decoration: unset;
      display: inline-block;
    }
  }
</style>
